<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to home page</title>
    <link rel="stylesheet" href = "static/css/style.css" type = "text/css">
    <script src ="static/js/demo.js"></script>
</head>
<body>

<h5>Index page of website</h5>
<h1>Purple</h1>

<h5 style = "color:red;">Welcome to this website</h5>

<a href ="/">Home</a>
<a href="{% url 'contact' %}">Contact</a>
<a href = "/product">Products</a>



<br><br>

<img src="static/images/img.png" width=200 onClick="test();">

</body>
</html>