<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/CSS/style.css" type="text/css">
    <script src="static/JS/test.js"></script>
</head>
<body>

<h1>Welcome to our index page</h1>
<h2>You can see color</h2>
<h3>also there</h3>
<h3 style="color:cyan;">You can see color important</h3>
<a href="/">Home</a>
<a href="/contact">Contact</a>

<br>


<img src="static/IMG/img.png" height="200px" width="200px" onClick="trial();">

</body>
</html>